PORT=8000
MONGODB_URI=mongodb+srv://<username>:<password>@cluster.mongodb.net/recruit_iq
GROQ_API_KEY=your_groq_api_key
LANGCHAIN_API_KEY=your_langchain_api_key
LANGCHAIN_TRACING_V2=true
LANGCHAIN_PROJECT=recruit_iq
